
html{
    height:100%;
}

img {
    max-width: 100%;
    max-height: 100%;
}

#logo-container{
    position:absolute;
    top: 0px;
    left: 0px;
    width: 100px;
    height: 100px;
    background-color: rgba(255,255,255,0.0);
}

#poster-container{
  width: 250px;
  height: auto;
}

#video-container{
    position:relative;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}

#media {
    position:absolute;
    width: 100%;
    height: 100%;
}

/* full-time overlay for progress bar, play/pause icon, time info, etc... */
#playback_overlay {
    position: absolute;
    bottom: 0px;
    padding: 10px;
    width: 100%;
    background-color: rgba(42,42,42,0.8);
    color: #e91e38;
}

/* temporary overlay to present media poster, title info, etc... */
#media_overlay {
    position: absolute;
    top: 20%;
    padding: 10px;
    background-color: rgba(255,255,255,0.8);
    color: black;
	display: none;
}

#playerState {
    background-color: rgba(255,255,255,0.8);
    color: blue;
    padding: 10px;
}

#status_notification {
  position: absolute;
  top: 0px;
  left: 42%;
  height: 14%;
  width: 16%;
  text-align: center;
  display: none;
}

#media_current_time {
  display: inline-block;
}

#media_duration {
  display: inline-block;
  float: right;
  margin-right: 20px;
}

#player_error {
    color: white;
}

/* Animation keyframes for the loading image */
@-webkit-keyframes sqp-loading-img-anim {
	from {
		transform:translate(-50%,-50%) rotate(0deg);
	}
	to {
		transform:translate(-50%,-50%) rotate(359deg);
	}
}

/*
* Animation class for the loading image
* This class is automatically added to the loading image, if any, when a loading event occurs
*/
.sqp-loading-img-anim {
  -webkit-animation: sqp-loading-img-anim 2s infinite;
  -webkit-animation-timing-function: linear;
}

/* generic 'screens' class */
.sqp-screen {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  display: none;
}

/* popup notification class */
.sqp-popup {
  background-color: rgba(255,255,255,0.8);
  position: absolute;
  top: 0px;
  left: 0px;
  display: none;
}

/*.sqp-center {
  display: block;
  text-align: center;
  vertical-align: middle;
  margin:auto;
}
*/

/* generic 'centering' class on X/Y axes */
.sqp-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

/* MAIN COLOR of the UI, used for all progress bars */
.sqp-ui-main-bgcolor {
	background: #e91e38;
}

.pointer-cursor {
  cursor: pointer;
}

/* progress bar zone */
.sqp-progressbar {
  display: inline-block;
  position: relative;
  height: 16px;
  margin-left: 12px;
  margin-right: 0px;
  width: 87%;
}

/* progress bar zone */
.sqp-progressbar-background {
  position: relative;
  height: 4px;
  top: 6px;
  width: 98%;
  background-color: rgba(255,255,255,0.5);
  border-radius: 1px;
}

.sqp-progressbar-background:hover {
  height: 6px;
  top: 5px;
  background-color: rgba(255,255,255,0.7);
}

.sqp-progressbar-background:hover > .sqp-chapters {
  top: 1px;
}

/*
* Progress bar 'progress' zone
* its width will be controlled by the javascript code and given in '%'
*/
.sqp-progressbar-progress {
  position: absolute;
  top:0px;
  height: 100%;
  width: 0%; /* default width at openning, will be overriden with values in % by javascript code */
  border-radius: 1px;
}

.sqp-progressbar-progress-2nd {
  background-color: purple;
}

/*
* playback progress bar endpoint
* hidden by default (display: node), this element is showed only on mouse hovering,
* using the animation classes below
*/
.sqp-progressbar-progress-endpoint {
  position: absolute;
/*  display: none;*/
  top: -3px;
  right: -6px;
  width: 12px;
  height: 12px;
  border-radius: 6px;
}

/* animation for the 'bullet' at the end of the progress bar (makes it appear) */
@keyframes endpoint-anim {
    from {
      width: 0px;
      height: 0px;
      top: 4px;
      right: 0px;
    }
    to {
      top: -3px;
      width: 12px;
      height: 12px;
      right: -6px;
    }
}

/* activation of the animation for the progress bar endpoint on hovering of the progres bar itself */
.sqp-progressbar-background:hover > .sqp-progressbar-progress-play > .sqp-progressbar-progress-endpoint {
  display: inherit;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  animation-name: endpoint-anim ;
  animation-duration: 0.05s;
}
