body {
  --playback-logo-image: url('./orange_logo.png');
}
cast-media-player {
  --progress-color: rgb(192, 192 , 192);
  --splash-image: url('./orange_logo.png');
  --splash-size: auto;
}

.metadataImage {
  background-repeat: no-repeat;
}

#fingerprint {
  z-index: 9999; 
  position: absolute; 
  float: left; 
  background-color: black; 
  color: white; 
  margin-left: 5%; 
  margin-top: 5%; 
  font-size: 20px;
  padding: 5px 20px 5px 20px; 
  border-radius: 5px;
  visibility: hidden
}